
// Variables basicas del proyecto
$bg-color: #000;
$font-color: #fff;
$secondary-bg-color: #ff4900;
$font: "Poppins", "sans-serif";

// z-index jerarquia
$header-index: 10;

// Breackpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;